.link2 {
    cursor: pointer;
    width: 250px !important;
}

.footer__home {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
}

.link2::before {
    color: transparent !important;
}

.dropdown-items {
    background-color: #232D4F;
    color: #fff;
    padding: 0.6rem 1.2rem;
    margin-top: 0.9rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 'background 0.3s ease';
    text-decoration: none;
}

.dropdown-items:hover {
    background-color: #3E5A7E;
    color: #fff;
    text-decoration: none;
}

.mega-menu {
    position: fixed;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 90vw;
    max-width: 1140px;
    margin-top: 1.2rem;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-decoration: none;
}

.menu-link {
    display: block;
    gap: 0.25rem;
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}

.menu-link:hover {
    background-color: #e6f0ff;
    color: #000000;
    text-decoration: none;
    border-left: 4px solid #232D4F;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    z-index: 2;
    top: 75px;
    right: 0px;
}

.dropdown-menu li {
    width: 100%;
    height: auto;
}

ul.dropdown-menu li a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
}

.dropdown-menu li:hover {
    background: #f0f0f0;
}

.display-none {
    display: none;
}

.boton__default {
    background-color: whitesmoke !important;
    border-radius: 10px;
}

.list-inline {
    padding: 0;
    list-style: none;
    margin-left: unset !important;
    text-align: center !important;
}

.dropdown-menu li a {
    padding: 1rem;
}

.cardcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img {
    background-image: url('/images/parquejumeal.webp');
    background-size: cover;
    /* Ensures the image covers the entire element */
    background-position: center;
    /* Centers the image */
    width: 100%;
    /* Sets width to 100% */
    height: 100%;
    /* Sets height to 100% */
}

.padding__portal {
    padding: 1rem;
}

.portal__container {
    height: 95vh;
    width: 100vw;
}


.tepuedeinteresar-ul {
    gap: 1rem;
}

.portal_altura {
    height: auto;
}

.portal_container2 {
    height: 100%;
}

.portal_container3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.200);
    /* Adjust color and opacity */
}


.portalInput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portalInput__button {
    padding: 0.5rem;
    width: 75%;
    margin-block: 1rem;
    background-color: #00b4dcf6;
    box-shadow: inset 0px 0px 15px 0px #0f2554;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
}


.portalInput__span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

button,
input {
    all: unset;
}

.input__div {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.input__div2 {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 75%;
}


.texto-colorgrid {
    color: gray !important;
}

.btn-seguinos {
    border-radius: 10px;
}

.btn-seguinos img {
    width: 48px;
}

.btn-seguinos-container {
    text-align: center;
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}


.btn-header-navbar {
    display: none;
}

.btn-youtube,
.btn-twitter,
.btn-tiktok,
.btn-facebook,
.btn-instagram,
.btn-whatsapp {
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #232d4f;
}

.btn-youtube:hover,
.btn-twitter:hover,
.btn-tiktok:hover,
.btn-facebook:hover,
.btn-instagram:hover,
.btn-whatsapp:hover {
    background-color: #1d243b;
    /* Change to a lighter shade or any color you like */
}

.navbar-header {
    margin-left: 1rem;
}

.navbar-header__button {
    display: none;
}


.header__displaymobile {
    display: none;
    /* Prevent content from overflowing */
}

.gridPortal__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-template-rows: auto;
    /* 4 rows */
    padding: 0;
}

/* Block: marquee */
.marquee__container {
    display: flex;
    color: white;
    padding-block: 0.1em;
    gap: 10px;
}

.marquee__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    color: whitesmoke;
    text-decoration: none;
}

.marquee__item:hover {
    text-decoration: none;
    color: white;
}

.marquee__icon {
    width: 12px;
}

.marquee__phone {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.HeaderMobile {
    display: none;
}

.navbar-headerMobile {
    width: 100%;
    height: auto;
    padding-block: 0.25rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_titulo {
    text-align: center;
    text-shadow: 1px 0 #001529, -1px 0 #001529, 0 1px #001529, 0 -1px #001529,
        1px 1px #001529, -1px -1px #001529, 1px -1px #001529, -1px 1px #001529;
}

@media (max-width: 768px) {

    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .navbar .container .navbar-header .navbar-brand {
        width: 100% !important;
    }

    .navbar-header__button {
        display: block;
    }


    .header__displaymobile {
        display: flex;
        justify-content: start;
        /* Align items to the left horizontally */
        align-items: center;
        /* Vertically center the content */
        height: 100vh;
        /* Ensure the container takes full viewport height */
        width: 100%;
        /* Full width of the screen */
        position: absolute;
        /* Position it absolutely within the page */
        top: 0;
        /* Align at the top */
        left: 0;
        /* Align at the left */
        background-color: #000000be;
        /* Optional: semi-transparent black background */
        flex-direction: column;
        /* Stack items vertically */
        z-index: 12;
        /* Ensure this element is on top of others */
        overflow: hidden;
        /* Prevent content from overflowing */
    }

    .navbar-header__mobile {
        display: flex;
        flex-direction: column;
        /* Stack the items in a column */
        align-items: center;
        /* Horizontally center the buttons */
        gap: 10px;
        /* Add some space between the buttons */
        text-align: center;
        /* Center the text within each button */
    }

    .btn {
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }



    .dropdown-menu {
        display: block;
        /* Ensure the dropdown items are visible */
        text-align: left;
    }

    .hidden-xs {
        display: block;
        /* Ensure visibility on mobile (if hidden-xs is defined elsewhere) */
    }


    .navbar-header__mobile-btn {
        width: 80vw;
        height: auto;
        padding: 0;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .btn-seguinos-container {
        display: inline-block;
        text-align: center;
    }


    .home_titulo {
        max-width: 300px;
    }

    .gridPortal__card {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for tablets */
    }

}




@media (max-width: 1024px) {
    .gridPortal__card {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns for medium screens */
    }

    .HeaderMobile {
        display: block;
    }

    .header__displaynone {
        display: none;
    }

    .navbar-header {
        flex: 1;
    }
}

@media (max-width: 480px) {
    .gridPortal__card {
        grid-template-columns: 1fr;
        /* 1 column for mobile */
    }
}

.input-group {
    width: 75%;
    border: lightgray;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.searchModalDeskopt {
    position: absolute;
    top: 100%;
    width: 100%;
    /* left: 50%; */
    /* background-color: black; */
    /* height: 40dvh; */
    margin-top: 4px;
    border-radius: 10px;
    z-index: 3;
    transition: opacity 0.3s ease;
    /* transform: translate(-50%, 0%);  */
}

.searchModalDeskopt--active {
    opacity: 1;
}

/* Style for the List inside the Modal */
.searchModalDeskopt__list {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    list-style: none;
    /* Removes default list styling */
    list-style-position: outside;
    padding: 0;
}

/* Style for each list item */
.searchModalDeskopt__list-item {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 700;
    padding: 16px 6px;

}

.searchModalDeskopt__list-item-div {
    display: flex;
    gap: 10px;
    flex: 1;
}

.searchModalDeskopt__list-item-img {
    width: 36px;
    border-radius: 4px;
    /* object-fit: cover; */
    /* object-position: center; */
}

.searchModalDeskopt__list-item-p {
    font-weight: 500 !important;
}

.searchModalDeskopt__list-item-small {
    color: gray;
}

.searchModalDeskopt__list-item p {
    all: unset;
}


.searchModalDeskopt__list-item:hover {
    background-color: #f0f0f0;
    /* Light gray on hover */
    border-radius: 8px;
}

.searchModalDeskopt__list-item:last-child {
    border-bottom: none;
}

.searchModalDeskopt__list-item-vermas {
    background-color: #001529;
    padding: 16px 6px;
    font-weight: 500;
}

.searchModalDeskopt__list-item-vermas-a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;

}

.searchModalDeskopt__list-item-vermas-a:hover {
    text-decoration: none !important;
    color: white !important;
}


@media (max-width: 1023.98px) {
    .searchModalDeskopt {
        display: none;
    }

    .searchModalDeskopt__list-item-input-mobile {
        width: 75%;
        border: 1px solid lightgray;
        padding: 10px;
        border-radius: 6px;
        margin-block: 10px;
    }

    .searchModalDeskopt__list-item-span-mobile {
        width: 100%;
        display: grid;
        place-items: center;
    }
}

.input-search {
    flex: 1;
}

.input-group-btn {
    width: 50px;
    height: 50px;
    border-left: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-btn:hover {
    border: 2px solid #232d4f;
    border-radius: 0px 1rem 1rem 0px;
    cursor: pointer;
}

.input-search-input {
    /* padding-inline: 10px; */
    padding: 12px;
    width: 95%;
    color: gray;
}

.input-group-btn-img {
    width: 42px;
}

.btn-cerrar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-inline: 10px;
}

.footer-radio {
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer-radio__container {
    margin: 1rem 0;
}