@import url('./landing.css');
@import url('./noticias.css');
@import url('./blog.css');
@import url('./buscador.css');
@import url('./home.css');
@import url('./intendentes.css');
@import url('./modal.css');
@import url('./tramites.css');
@import url('./homeSlider.css');
@import url('./consultaExpediente.css');
@import url('./Intendente.css');
@import url('./banner.css');
@import url('./radio.css');
@import url('./buscadorMain.css');
@import url('./loadingScreen.css');
@import url('./adaptabilidad.css');
@import url('./toolbar.css');
@import url('./serviciosProgramas.css');
@import url('./contacto.css');
@import url('./noticiasGNRAL.css');
@import url('./info.css');
@import url('./estructuraOrganica.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea {
    font-family: 'Roboto', sans-serif !important;
    font-optical-sizing: auto !important;
    font-family: 'Roboto', sans-serif !important;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto; /* Allow vertical scrolling */
    background: transparent; /* Set body background to transparent */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar (for WebKit browsers) */
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background: transparent; /* Track background transparent */
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; /* Track background transparent */
}

*::-webkit-scrollbar-thumb {
    background: gray; /* Thumb color */
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158); /* Thumb color on hover */
}

main a[href^="http://"][target^=_blank]:after, 
main a[href^="https://"][target^=_blank]:after {
    content: "" !important;
}

.paginado {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    width: auto;
    margin-block: 10px;
}

.paginado a {
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    border-radius: 10px;
}

.paginado a.active {
    background-color: whitesmoke;
    color: black;
    border: 1px solid #666;
}

.paginado a:hover:not(.active) {
    background-color: #f1f1f1;
}

.container:before {
    display: none;
}

.container-width{
    width: 90%;
}

.jumbotron {
    position: relative;
    background-position: center;  /* Centers the image */
    background-size: cover;  /* Ensures the image covers the area without stretching */
    object-fit: cover;  /* Ensures any content (like videos or images) inside the jumbotron fits */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    color: #fff;
    margin-bottom: 0;
    padding: 0;
    height: 60vh;  /* Height is set to 50% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridBtn{
    display: none;
}

.padding-0{
    padding: 0;
    height: 200px !important;
    width: 150px !important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, #f2a037)!important;
}

.swiper {
    padding-bottom: 2rem !important;
    margin-bottom: 1rem;
}

.panel-default{
    border-radius: 10px !important;
}

.active {
    color: blueviolet;
    text-decoration: underline;
}

/* Listado de Tramites */
.tramite-container:hover {
    transform: scale(1.01);
    border-color: #0aa9e2;
    transition: all .4s ease;
    cursor: pointer;
}

.tramite-container h3 {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.tramite-container p {
    height: 50px;
    overflow: hidden;
}

.tramite-container .panel-body {
    width: 100%;
}

.tramite-footer {
    display: flex;
    justify-content: space-between;
}

/* Tramite */
.media-body > p:first-of-type {
    margin-top: 20px;
}

.video-banner {
position: relative;
height: 500px; /* o lo que necesites */
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
color: white;
}

.video-banner--homebanner{
    position: relative;
    height: 700px; /* o lo que necesites */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: 0;
}

.loading-screen {
  width: 100%;
  min-height: 75vh;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.loading-image {
  margin-bottom: 12px;
}

.cargando-text {
  font-size: 1.5rem;
  font-weight: bolder;
  color: lightslategray;
}

.dots::after {
  content: '';
  display: inline-block;
  animation: dotsAnim 1.5s steps(4, end) infinite;
}

.searchModalDeskopt__list--mobile{
    z-index: 11 !important;
}

@keyframes dotsAnim {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

/* Rotación suave del logo (opcional) */
@keyframes spin {
  to { transform: rotate(360deg); }
}