.consulta-container {
    min-height: 65vh;
}

.consulta-container__title {
    text-align: center;
}

.consulta-container__description {
    margin-bottom: 15px;
}

.consulta-container__form {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
}

.consulta-container__form-group {
    margin-bottom: 15px;
}

.consulta-container__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.consulta-container__input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.consulta-container__button {
    width: 50%;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}


.consulta-container__note {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
}
