.intendentes__main{
    min-height: 80vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.intendentes__div{
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
}

.intendentes__table{
    border-collapse: collapse; /* Ensures borders are collapsed together */
    border-radius: 10px; /* Adjust the radius as needed */
    overflow: hidden; /* Ensures the corners are rounded */
    width: 100%; /* Optional: full width of the container */
}

/* Optional: style for the table header and cells */
.intendentes__header, .intendentes__data {
    padding: 10px; /* Adds padding to table cells */
    text-align: start; /* Aligns text to the left */
}

.intendentes__header:not(:first-child), .intendentes__data {
    border-left: 1px solid lightgray;
}
.intendentes__thead {
    background-color: #f0f0f0; /* Optional: background color for the header */
}

.intendentes__divinput{
    height: 32px;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px;
}

.intendentes__rowdiv{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 10px;
    gap: 10px;
}

.intendentes__rowdiv-img{
    border-radius: 10px;
    max-width: 48px;
    padding: 4px;
}

table{
    box-shadow: 0px 0px 4px 0px lightgray;
}

.intendentes__no-data {
    text-align: center;
    font-size: 1.2rem;
    color: #ADD8E6;
    padding: 10px;
}

.intendentes__buttons{
    width: 100%;
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intendentes__button{
    padding: 12px 24px;
    border: 1px solid lightgray;
    color: gray;
    border-radius: 10px;
    cursor: pointer;
}

.intendentes__button:hover{
    border: 1px solid #ADD8E6;
    color: #ADD8E6;
}

@media (max-width: 768px){
    .intendentes__buttons{
        align-items: start;
    }
    
    .intendentes__button{
        padding: 4px 8px;
        border: 1px solid lightgray;
        border-radius: 10px;
    }

    .intendentes__divinput{
        height: 32px;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 10px;
    }
    
}

@media (max-width: 767.98px){

    .intendentes__divinput{
        height: 32px;
        width: 90%;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 10px;
    }
}