/* src/components/Modal.css */
.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 95%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.modal__title {
    margin-bottom: 20px;
}

.modal__table {
    flex: 1;
    width: 100%;
    border-collapse: collapse; /* Ensure borders are combined */
    text-align: center;
    border-radius: 10px;
}

.modal__header {
    background-color: #f2f2f2; /* Light gray background */
    padding: 10px;
    text-align: center; /* Align text to the left */
    border-bottom: 2px solid #ddd; /* Bottom border */
}

.modal__row {
    border-bottom: 1px solid #ddd; /* Bottom border for rows */
}

.modal__cell {
    padding: 10px;
}

.modal__close-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: white; /* Bootstrap primary color */
    color: #666;
    border: 1px solid #666;
    border-radius: 4px;
    cursor: pointer;
    align-self: self-end;
}

.modal__button-container{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__descargar-figure{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.modal__descargar-table{
    width: 50%;
}

.modal__descargar-tabletd{
    padding: 0px 10px 0px 0px;
}