
.main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 0;
    margin: 0 auto;
    height: auto;
    gap: 1rem;
}

.noticias {
    flex: 2;
    overflow-y: auto;
    padding: 0 !important;
}

.noticias__item {
    margin-bottom: 20px;
}

.noticias__image {
    width: 100%;
    height: auto;
}

.noticias__title {
    font-size: 1.5em;
}

.noticias__excerpt {
    color: #666;
}

.aside {
    background: white;
    padding-block: 15px;
    position: sticky; /* Make the aside sticky */
    top: 15px; /* Adjust the top position as needed */
    z-index: 2; /* Optional: ensure it stays above other content */
    flex: 1;
}


.aside__div{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.aside__title {
    margin-top: 0;
}

.aside__list {
    list-style: none;
    padding: 0;
    gap: 15px; /* Space between the items */
}
.aside__item {
    /* Optional: you can remove margin from aside__item if using gap */
    margin: 0; 
    height: auto;
    border-block: 3px solid white;
    padding: 16px;
}

.aside__image {
    width: 42px; /* Adjust as needed */
    margin-right: 10px; /* Space between image and text */
    vertical-align: middle; /* Align image with text */
    border-radius: 4px;
}

.aside__itemfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.aside__link {
    text-decoration: none; /* Remove underline */
    color: #007bff; /* Example link color */
    display: contents;
}

.aside__linkimg, .noticias__itemcontaineraimg{
    width: 36px;
    cursor: pointer;
}

.aside__link:hover {
    text-decoration: underline; /* Underline on hover */
}

.digestobtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.digestobtn button{
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.digestobtn button:hover{
    border: 1px solid lightgray;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

.aside__div2{
    text-align: center;
}

.aside__input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.aside__input{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 0.5rem;
}

.aside__div2title{
    text-align: center;
}

.aside__div2input{
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    background-color: white;
    margin-block: 10px;
}

.noticias__itemcontainerbutton{
    text-align: center;
}


.noticias__itemcontainera{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    text-align: end;
}

.noticias__itemcontainerafigure{
    all: unset;
}

@media (max-width: 768px) {

    .main {
        flex-direction: column-reverse;
    }
    
    .aside {
        padding-block: 0;
        position: sticky; /* Make the aside sticky */
        height: auto;
        width: 100%;
        top: 0px;
        border-radius: 0;
        margin: 0;
    }

    .aside__list{
        width: 100%;
    }

    .aside__div2 {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .aside__div2title{
        display: none;
    }

    .aside__div2input {
        margin: 0 auto;
        width: 90%;
        margin-block: 0;
    }

    .aside__list:nth-child(1) {
        display: none;
    }
    
    .aside__div{
        height: 100%;
        padding: 10px;
    }

    .noticias{
        margin-right: 0px;
    }

    .noticias__itemcontainer {
        width: 100%;
    }
}

.noticias__itemcontainersection{
    padding: 4px !important;
}

.aside__div1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.aside__div1 button{
    padding: 6px 12px 6px 12px;
    border: 1px solid lightgray;
    border-radius: 6px;
    cursor: pointer;
}

.aside__div1 button:first-child{
    padding: 6px 12px 6px 12px;
    border: 1px solid #001529;
    border-radius: 6px;
    background-color: #001529;
    color: white;
}

.aside__div1 button:first-child:hover{
    background-color: #000c18;
}


.aside__div1 button:hover{
    background-color: whitesmoke;
}

