/* src/styles.css */
.Tramites__container{
  min-height: 60vh;
  height: auto;
}

.TramistedGrid__grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 4 columns */
  grid-template-rows: auto;    /* 4 rows */
  padding: 0;
}

.TramistedGrid__card {
  background-color: transparent; /* Card background */
  border-radius: 8px;        /* Rounded corners */
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 4rem;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;           /* Pointer cursor */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  height: auto;
  text-align: center;
}

.TramistedGrid__card:hover {
  transform: translateY(-2px); /* Elevate the card by 2px on hover */
}

.TramistedGrid__card-title {
  font-size: 1.2em;          /* Card title size */
  margin-bottom: 8px;
}

.TramistedGrid__card-content {
  font-size: 1em;            /* Card content size */
}


.TramistedGrid__btnContainer{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TramistedGrid__btnVolver{
  all:unset;
  width: 150px;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: #666;
  text-align: center !important;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.TramistedGrid__btnVolver:hover{
  text-decoration: none;
  color: black;
}

.TramistedGrid__cardimg {
  width: 200px; /* Fixed width for the image */
  object-fit: cover; /* Ensures the image covers the entire area */
  object-position: center; /* Centers the image */
  border-radius: 0.5rem !important; /* Rounded corners for the image */
  margin-bottom: 10px; /* Space between image and text */
  padding: 15%;
}

.TramistedGrid__card-small{
  color: #666;
}

.TramistedGrid__btnGroup{
  display: none;
}

.gridBtnGroup{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  width: 750px;
  margin: 0 auto;
  gap: 1rem;
}

.TramistedGrid__btnGroup button{
  padding: 8px 12px;
  border: 1px solid lightgrey ;
  border-radius: 10px;
  cursor: pointer;
  color: gray;
}

/* Media query for screens up to 1024px */
@media (max-width: 1024px) {
  .TramistedGrid__grid-container {
    grid-template-columns: repeat(4, 1fr); /* 3 columns for medium screens */
  }
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .TramistedGrid__grid-container {
    grid-template-columns: repeat(4, 1fr); /* 2 columns for tablets */
  }
  .TramistedGrid__btnGroup{
    width: 100%;
  }
  .TramistedGrid__cardimg {
    padding: 10%;
  }

}

/* Media query for screens up to 480px */
@media (max-width: 480px) {
  .TramistedGrid__grid-container {
    grid-template-columns: repeat(2, 1fr); /* 1 column for mobile */
  }

  .TramistedGrid__card {
    width: auto;
  }

  .TramistedGrid__cardimg {
    width: auto;
}
}
