---
import Info from "@components/info/info.astro";
import Layout from "@layout/Layout.astro";
const { id } = Astro.params;
---

<Layout title="Tramites1">
  <div>
    <Info id={id} url="items/datos_abiertos/" client:only="react" />
  </div>
</Layout>
