---
import Layout from "../layout/Layout.astro";
import GridCategorias from "../components/grid/gridCategorias";
const { id } = Astro.params;


---

<Layout title="Trámites">
    <div>
      <GridCategorias id={id} client:only="react" url={'items/datos_abiertos?filter[categoria_datosabiertos][_eq]='}/>
    </div>
  </Layout> 