---
import Layout from "@layout/Layout.astro";
import BuscadorMain from "@components/buscadorMain/buscadorIndex";
---

<Layout title="Busca las ultimas novedades">
  <BuscadorMain client:only="react" />
  <div class="container">
    <div class="botonflujo">
      <a href="/" class="btn btn-primary"> Volver a Pagina de Inicio </a>
      <a href="/categoriasTramites" class="btn btn-success">
        Volver a Guia de Tramites
      </a>
    </div>
  </div>
</Layout>
