---
// Import the necessary components and data
import Layout from "@layout/Layout.astro";
import GridPage from "@components/grid/gridPage"; // Assuming it's an Astro component
const { id } = Astro.params;
---

<Layout title={"Categorias"}>
  <section class="jumbotron video-banner">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="/Nodo.mp4" type="video/mp4" />
      Tu navegador no soporta el video en HTML5.
    </video>

    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Guía de Trámites</h1>
            <p>
              Mejora los sistemas y procesos internos del Estado, capacita
              permanentemente a sus empleados e incorpora Nuevas Tecnologías a
              la administración pública para alcanzar una gestión eficiente,
              inclusiva y transparente que brinde más y mejores servicios a los
              ciudadanos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
  </section>

  <GridPage
    tramite="TramistedGrid__card-tramites"
    client:only="react"
    href="/buscadorSFVC"
    endpoint="items/categoria_tramites"
    titulo=""
    mostrarFiltro={true} 
  />

  <div class="container">
    <div class="botonflujo">
      <a href="/" class="btn btn-primary"> Volver a Pagina de Inicio </a>
      <a href="/buscadorSFVC?categoria=2" class="btn btn-success">
        Ir a Buscador de Tramite
      </a>
    </div>
  </div>
</Layout>
