---
// Import the necessary components and data
import Layout from "@layout/Layout.astro";
import GridPage from "@components/grid/gridPage"; // Assuming it's an Astro component
const { id } = Astro.params;
---

<Layout title={"Categorias"}>
  <section class="jumbotron video-banner">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="/Nodo.mp4" type="video/mp4" />
      Tu navegador no soporta el video en HTML5.
    </video>
  
    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Guía de Trámites</h1>
            <p>
              Mejora los sistemas y procesos internos del Estado, capacita
              permanentemente a sus empleados e incorpora Nuevas Tecnologías a la
              administración pública para alcanzar una gestión eficiente,
              inclusiva y transparente que brinde más y mejores servicios a los
              ciudadanos.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="overlay"></div>
  </section>
  


  <section class="bg-gray section-sm">
    <div class="">
      <div class="panel-pane pane-atajos">
        <div class="pane-content">
          <ul class="nav nav-icons nav-icons-selected">
            <li class="active">
              <a href="/aaip/accesoalainformacion">
              <i class="icono-arg-anticorrupcion bg-success"></i><span>Acceso a la Información Pública</span>
              </a>
            </li>
            <li class="">
              <a href="/aaip/datospersonales">
                <i class="icono-arg-dni bg-primary"></i><span>Protección de datos personales</span>
              </a>
            </li>
            <li class="">
              <a href="/aaip/tramites">
                <i class="icono-arg-tramite bg-fucsia"></i><span>Trámites y servicios</span></a></li>
            <li class="">
              <a href="/aaip/buscador-normativa">
                <i class="fa fa-legal bg-warning"></i><span>Normativa</span>
              </a>
            </li>
            <li class="">
              <a href="/aaip/consejo-federal-transparencia">
                <i class="icono-arg-mapa-argentina bg-uva"></i><span>Consejo Federal para la Transparencia</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  
  <GridPage
    tramite="TramistedGrid__card-tramites"
    client:only="react"
    href="/tramites"
    endpoint="items/categoria_tramites"
    titulo=""
  />
</Layout>