---
import Layout from "@layout/Layout.astro";

---

<Layout>
  <section class="jumbotron video-banner">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="/Nodo.mp4" type="video/mp4" />
      Tu navegador no soporta el video en HTML5.
    </video>

    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Contactos Municipales</h1>
            <p>
              Mejora los sistemas y procesos internos del Estado, capacita
              permanentemente a sus empleados e incorpora Nuevas Tecnologías a
              la administración pública para alcanzar una gestión eficiente,
              inclusiva y transparente que brinde más y mejores servicios a los
              ciudadanos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
  </section>

  <div class="contacto_container container">
    <div class="contacto_cards-container">
      <div class="contacto_card contacto_card--amarillo">
        <div class="contacto_card-header blue">
          <div class="contacto_icon">
            <i class="icono-arg-cruz-medicina"></i>
          </div>
          <h3>Emergencias</h3>
        </div>
        <div class="contacto_card-body">
          <h2 class="contacto_card-body-h2">Contactate al</h2>
          <div class="contacto_infonumero">
            <span
              class="contacto_infonumero-span contacto_infonumero-span--amaraillo"
            >
              12312312331132
              <i class="icono-arg-telefono-llamada-negativo"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="contacto_card contacto_card--celeste">
        <div class="contacto_card-header blue">
          <div class="contacto_icon">
            <i class="icono-arg-cruz-medicina"></i>
          </div>
          <h3>Emergencias</h3>
        </div>
        <div class="contacto_card-body">
          <h2 class="contacto_card-body-h2">Contactate al</h2>
          <div class="contacto_infonumero">
            <span
              class="contacto_infonumero-span contacto_infonumero-span--celeste"
            >
              12312312331132
              <i class="icono-arg-telefono-llamada-negativo"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="contacto_card contacto_card--azul">
        <div class="contacto_card-header blue">
          <div class="contacto_icon">
            <i class="icono-arg-cruz-medicina"></i>
          </div>
          <h3>Emergencias</h3>
        </div>
        <div class="contacto_card-body">
          <h2 class="contacto_card-body-h2">Contactate al</h2>
          <div class="contacto_infonumero">
            <span
              class="contacto_infonumero-span contacto_infonumero-span--azul"
            >
              12312312331132
              <i class="icono-arg-telefono-llamada-negativo"></i>
            </span>
          </div>
        </div>
      </div>

      <!-- SEGUNDO ROW -->

      <div class="contacto_card contacto_card--amarillo">
        <div class="contacto_card-header blue">
          <div class="contacto_icon">
            <i class="icono-arg-cruz-medicina"></i>
          </div>
          <h3>Emergencias</h3>
        </div>
        <div class="contacto_card-body">
          <h2 class="contacto_card-body-h2">Contactate al</h2>
          <div class="contacto_infonumero">
            <span
              class="contacto_infonumero-span contacto_infonumero-span--amaraillo"
            >
              12312312331132
              <i class="icono-arg-telefono-llamada-negativo"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="contacto_card contacto_card--celeste">
        <div class="contacto_card-header blue">
          <div class="contacto_icon">
            <i class="icono-arg-cruz-medicina"></i>
          </div>
          <h3>Emergencias</h3>
        </div>
        <div class="contacto_card-body">
          <h2 class="contacto_card-body-h2">Contactate al</h2>
          <div class="contacto_infonumero">
            <span
              class="contacto_infonumero-span contacto_infonumero-span--celeste"
            >
              12312312331132
              <i class="icono-arg-telefono-llamada-negativo"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="contacto_card contacto_card--azul">
        <div class="contacto_card-header blue">
          <div class="contacto_icon">
            <i class="icono-arg-cruz-medicina"></i>
          </div>
          <h3>Emergencias</h3>
        </div>
        <div class="contacto_card-body">
          <h2 class="contacto_card-body-h2">Contactate al</h2>
          <div class="contacto_infonumero">
            <span
              class="contacto_infonumero-span contacto_infonumero-span--azul"
            >
              12312312331132
              <i class="icono-arg-telefono-llamada-negativo"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <h1 class="contacto_subtitle">Números Nacionales</h1>

    <div class="contacto_numbers-container">
      <div class="contacto_number contacto_number--amarillo">
        <span class="contacto_number-span">144</span>
        <p class="contacto_number-p">Violencia contra la Mujer</p>
      </div>
      <div class="contacto_number contacto_number--celeste">
        <span class="contacto_number-span">130</span>
        <p class="contacto_number-p">Anses</p>
      </div>
      <div class="contacto_number contacto_number--azul">
        <span class="contacto_number-span">135</span>
        <p class="contacto_number-p">Asistencia al Suicida</p>
      </div>
      <!-- Row dos -->
      <div class="contacto_number contacto_number--amarillo">
        <span class="contacto_number-span">142</span>
        <p class="contacto_number-p">Niños Extraviados</p>
      </div>
      <div class="contacto_number contacto_number--celeste">
        <span class="contacto_number-span">145</span>
        <p class="contacto_number-p">Trata de Personas</p>
      </div>
      <div class="contacto_number contacto_number--azul">
        <span class="contacto_number-span">107 </span>
        <p class="contacto_number-p">SAME</p>
      </div>
      <!-- Row tres -->
      <div class="contacto_number contacto_number--amarillo">
        <span class="contacto_number-span">911</span>
        <p class="contacto_number-p">Policia</p>

      </div>
      <div class="contacto_number contacto_number--celeste">
        <span class="contacto_number-span">100</span>
        <p class="contacto_number-p">Bomberos</p>
    </div>
    <div class="contacto_number contacto_number--azul">
      <span class="contacto_number-span">120 </span>
      <p class="contacto_number-p">Informacion sobre Vacunas</p>
    </div>

    </div>
  </div>

      <div class="container">
    <div class="botonflujo">
      <a href="/" class="btn btn-primary"> Volver a Pagina de Inicio </a>
    </div>
  </div>
</Layout>
