---
import Layout from './layout/Layout.astro';
import EstructuraOrganica from './components/estructura/estructuraOrganica';
---

<Layout title='Busca las ultimas novedades'>
    <div>
        <EstructuraOrganica client:only="react"/>
    </div>

</Layout>