---
import Layout from "@layout/Layout.astro";

---

<Layout>
  <section class="jumbotron video-banner">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="/Nodo.mp4" type="video/mp4" />
      Tu navegador no soporta el video en HTML5.
    </video>

    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Punto Violeta</h1>
            <p>
              Mejora los sistemas y procesos internos del Estado, capacita
              permanentemente a sus empleados e incorpora Nuevas Tecnologías a
              la administración pública para alcanzar una gestión eficiente,
              inclusiva y transparente que brinde más y mejores servicios a los
              ciudadanos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
  </section>

   <section class="letfleet-map-section">
       <div class="event-card container">
            <h1 class="text-center">Fecha Estimada</h1>
            <h2 class="event-card__title">Título del Evento</h2>
            <p>Fecha: 25 de diciembre de 2023</p>
            <p>Hora: 18:00</p>
            <p>Lugar: Plaza Central, Ciudad</p>
        </div>
    </section> 

  <div class="container">
    <h1 class="text-center">Acompañanos</h1>
    <div class="landing-card">
      <em class="landing-card__desc">
        Este proyecto tiene como objetivo fundamental la defensa de los derechos de las mujeres y su inclusión plena en todos los ámbitos de la vida pública y privada. A través de iniciativas tecnológicas y políticas públicas con enfoque de género, buscamos construir una sociedad más justa, equitativa y libre de violencia. Promovemos la participación activa de las mujeres en la innovación, garantizamos su acceso a recursos digitales y desarrollamos plataformas que visibilicen y respondan a sus necesidades específicas. Creemos firmemente que la transformación del Estado debe ser también una transformación feminista.
      </em>
    </div>
    <a href="/contacto" class="landing-card__btn">Visita Nuestra Pagina</a>

</div>
<section class="letfleet-map-section">
  <h2 class="letfleet-map-section__title">Ubicación Punto Violeta</h2>
  <div class="letfleet-map-section__map-container">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1078.9055137647044!2d-65.78819103036892!3d-28.470534919569687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942428eb2855c435%3A0x36fd2c9fa3ebe466!2sComplejo%20Cultural%20Urbano%20Girardi!5e1!3m2!1ses-419!2sar!4v1748275070748!5m2!1ses-419!2sar" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
</Layout>
