---
import { Home } from "./pages/home";
 
---

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Banco de Pruebas</title>
        <meta name="description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
        <meta name="author" content="Presidencia de la Nación">
        <link rel="shortcut icon" href="img/favicon.ico">

        <meta name="theme-color" content="#242C4F" />
        <meta name="msapplication-navbutton-color" content="#242C4F" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#242C4F" />
        <meta property="og:url" content="http://localhost:4000/proyectos/argentina/" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Banco de Pruebas" />
        <meta property="og:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina." />
        <meta property="og:image" content="/ejemplos/img/jumbotron.jpg" />
        <meta property="og:locale" content="es_AR" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Banco de Pruebas" />
        <meta name="twitter:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina." />
        <meta name="twitter:image" content="/ejemplos/img/jumbotron.jpg" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../pages/index.css">

        <link rel="stylesheet" href="../../node_modules/ar-poncho/dist/css/argentina.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> 
        <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/encode-fontface.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/poncho.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/documentacion.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/icono-arg.css" rel="stylesheet">
    </head>

    <body role="document" class="html front not-logged-in no-sidebars page-node i18n-es jquery-once-1-processed">
        <Home client:only = "react"/>

        <footer class="main-footer">
        <div class="container">
            <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="region region-footer1">
                <section id="block-menu-menu-footer-1" class="block block-menu clearfix">
                    <h2 class="block-title h3 section-title h3 section-title">Trámites</h2>
                    <ul class="menu nav">
                    <li class="first leaf"><a href="/turnos">Turnos</a></li>
                    <li class="leaf"><a href="#">Trámites a distancia</a></li>
                    <li class="last leaf"><a href="#">Atención al ciudadano</a></li>
                    </ul>
                </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="region region-footer2">
                <section id="block-menu-menu-footer-2" class="block block-menu clearfix">
                    <h2 class="block-title h3 section-title h3 section-title">Acerca de la República Argentina</h2>
                    <ul class="menu nav">
                    <li class="first leaf"><a href="#">Leyes argentinas</a></li>
                    <li class="leaf"><a href="#">Organismos</a></li>
                    <li class="last leaf"><a href="#">Mapa del Estado</a></li>
                    </ul>
                </section>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="region region-footer3">
                <section id="block-menu-menu-footer-3" class="block block-menu clearfix">
                    <h2 class="block-title h3 section-title h3 section-title">Acerca de Argentina.gob.ar</h2>
                    <ul class="menu nav">
                    <li class="first leaf"><a href="#">Acerca de este sitio</a></li>
                    <li class="leaf"><a href="#">Términos y condiciones</a></li>
                    <li class="last leaf"><a href="#">Contacto</a></li>
                    </ul>
                </section>
                </div>
            </div>
            </div>
        </div>


            <div class="container-fluid">
                <div class="row sub-footer">
                    <div class="container">
                        <div style="display:flex; align-items:center; justify-content:space-between">
                            <a href="https://twitter.com/x/migrate?tok=7b2265223a222f4d756e6953465643222c2274223a313732393639383731397d67c3d556c3c3da4b63fc7c5e3e8713dd">
                                <img src="../src/pages/images/twitter.svg" alt="">
                            </a>
                            <a href="https://www.facebook.com/catamarcatucapital">
                                <img src="../src/pages/images/facebook.svg" alt="">
                            </a>

                            <a href="https://www.youtube.com/CatamarcaCapital">
                                <img src="../src/pages/images/youtube.svg" alt="">
                            </a>

                            <a href="https://www.instagram.com/catamarcacapital/">
                                <img src="../src/pages/images/instagram.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
