@import url('./css/noticias.css');
@import url('./css/blog.css');
@import url('./css/buscador.css');
@import url('./css/home.css');
@import url('./css/intendentes.css');
@import url('./css/modal.css');
@import url('./css/tramites.css');
@import url('./css/consultaExpediente.css');
@import url('./css/Intendente.css');
@import url('./css/banner.css');
@import url('./css/radio.css');
@import url('./css/buscadorMain.css');
@import url('./css/loadingScreen.css');
@import url('./css/apextree.css');
@import url('./css/adaptabilidad.css');
@import url('./css/toolbar.css');
@import url('./css/info.css');
@import url('./css/estructuraOrganica.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif !important;
    font-optical-sizing: auto !important;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto; /* Allow vertical scrolling */
    background: transparent; /* Set body background to transparent */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar (for WebKit browsers) */
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background: transparent; /* Track background transparent */
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; /* Track background transparent */
}

*::-webkit-scrollbar-thumb {
    background: gray; /* Thumb color */
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158); /* Thumb color on hover */
}

/* img::after {
    content: "" !important;
} */

main a[href^="http://"][target^=_blank]:after, 
main a[href^="https://"][target^=_blank]:after {
    content: "" !important;
}

.paginado {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    width: auto;
    margin-block: 10px;
}

.paginado a {
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    border-radius: 10px;
}

.paginado a.active {
    background-color: whitesmoke;
    color: black;
    border: 1px solid #666;
}

.paginado a:hover:not(.active) {
    background-color: #f1f1f1;
}

.container:before {
    display: none;
}

.container-width{
    width: 90%;
}

.jumbotron {
    position: relative;
    background-position: center;  /* Centers the image */
    background-size: cover;  /* Ensures the image covers the area without stretching */
    object-fit: cover;  /* Ensures any content (like videos or images) inside the jumbotron fits */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    color: #fff;
    margin-bottom: 0;
    padding: 0;
    height: 60vh;  /* Height is set to 50% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridBtn{
    display: none;
}

.padding-0{
    padding: 0;
    height: 200px !important;
    width: 150px !important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, #f2a037)!important;
}

.swiper {
    padding-bottom: 2rem !important;
    margin-bottom: 1rem;
}

.panel-default{
    border-radius: 10px !important;
}

.active {
    color: blueviolet;
    text-decoration: underline;
}

/* Tramites */
.tramite-container {
    display: flex;
}

.tramite-container h3 {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.tramite-container p {
    height: 50px;
    overflow: hidden;
}

.tramite-container .panel-body {
    width: 100%;
}

.tramite-footer {
    display: flex;
    justify-content: end;
}