@import url('./noticias.css');
@import url('./home.css');

body {
    overflow-x: hidden !important;
    overflow-y: auto; /* Allow vertical scrolling */
    background: transparent; /* Set body background to transparent */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar (for WebKit browsers) */
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background: transparent; /* Track background transparent */
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; /* Track background transparent */
}

*::-webkit-scrollbar-thumb {
    background: gray; /* Thumb color */
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158); /* Thumb color on hover */
}
