---
import { Home } from "./pages/home";

 
---

<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Banco de Pruebas</title>
<meta name="description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina.">
<meta name="author" content="Presidencia de la Nación">
<link rel="shortcut icon" href="img/favicon.ico">

<!-- Nav and address bar color -->
  <meta name="theme-color" content="#242C4F" />
    <meta name="msapplication-navbutton-color" content="#242C4F" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#242C4F" />
<meta property="og:url" content="http://localhost:4000/proyectos/argentina/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Banco de Pruebas" />
<meta property="og:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina." />
<meta property="og:image" content="/ejemplos/img/jumbotron.jpg" />
<meta property="og:locale" content="es_AR" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Banco de Pruebas" />
<meta name="twitter:description" content="Base de html y css para la creación de sitios pertenecientes a la Administración Pública Nacional de la República Argentina." />
<meta name="twitter:image" content="/ejemplos/img/jumbotron.jpg" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./index.css">

<!-- <link rel="stylesheet" href="../../node_modules/ar-poncho/dist/css/poncho.min.css">
<link rel="stylesheet" href="../../node_modules/ar-poncho/dist/css/icono-arg.css">-->
<link rel="stylesheet" href="../../node_modules/ar-poncho/dist/css/argentina.css"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> 

  
    <!-- PONCHO CSS:
    Recomendamos que descargues o instales 'ar-poncho' en tu proyecto.
    <link href="{{ '/node_modules/ar-poncho/dist/css/roboto-fontface.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/ar-poncho/dist/css/poncho.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/ar-poncho/dist/css/documentacion.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/node_modules/ar-poncho/dist/icono-arg.css' | prepend: site.baseurl }}" rel="stylesheet">
    Al solo efecto de esta documentación, usaremos los estilos en línea en el proyecto GitHub Poncho
  -->
    <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/encode-fontface.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/poncho.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/documentacion.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/icono-arg.css" rel="stylesheet">
 <!-- FIN PONCHO -->
  
  
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
<!--[if lt IE 9]>
      <script src="http://argob.github.io/poncho/js/html5shiv.js"></script>
      <script src="http://argob.github.io/poncho/js/respond.min.js"></script>
  <![endif]-->

</head>

<body role="document" class="html front not-logged-in no-sidebars page-node i18n-es jquery-once-1-processed">
    <h1 class="sr-only"><small>Presidencia de la Nación</small></h1>
    <div id="skip-link"> <a href="https://www.argentina.gob.ar/#main-content" class="element-invisible element-focusable">Pasar al contenido principal</a></div>
    <!--<div class="region region-page-top">
    <section id="campaign" role="dialog" aria-labelledby="campaign01" aria-describedby="campaign02" style="padding:0px"> <a href="/salud/coronavirus-COVID-19?utm_source=alerta_20200424&amp;utm_medium=web&amp;utm_campaign=campana_coronavirus" title="Enlace a Campaña Nacional" id="js-titulo">
        <div class="container-fluid text-primary">
        <header class="sr-only">
            <h1 id="campaign01">Campañas Nacionales</h1>
        </header>
        <div class="container">
            <h2 id="campaign02" class="tituloContainerCam"> <strong>Coronavirus COVID-19</strong> <span class="c_bajada">conocé información y recomendaciones del Ministerio de Salud.</span></h2>
        </div>
        </div>
        </a> </section>
    </div>
    -->


    <header>
        <nav class="navbar navbar-top navbar-default border-bottom-amarillo">
        <div class="container">
            <div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/" id="navbar-brand" aria-label="Argentina.gob.ar Presidencia de la Nación">
                                <img src="https://argob.github.io/poncho/plantillas/paginas-de-argentina/img/logo_argentina-azul.svg" alt="Argentina.gob.ar" height="50" width="254">
                                                        </a>
                <a class="btn btn-mi-argentina btn-login visible-xs" href="https://mi.argentina.gob.ar" title="Ingresar a Mi Argentina">
                    <i class="icono-arg-mi-argentina fa-fw"></i><span class="sr-only">Ir a Mi Argentina</span></a>
                                </div>

                        <a href="https://mi.argentina.gob.ar/" id="btn-mi-argentina" class="btn btn-primary hidden-xs btn-login" aria-label="Ingresar a Mi Argentina">Mi Argentina</a>
            
            </div>
        </div>
        </nav>
    </header>



    <main>


<Home client:only = "react"/>
</main>














    <footer class="main-footer">
    <div class="container">
        <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="region region-footer1">
            <section id="block-menu-menu-footer-1" class="block block-menu clearfix">
                <h2 class="block-title h3 section-title h3 section-title">Trámites</h2>
                <ul class="menu nav">
                <li class="first leaf"><a href="/turnos">Turnos</a></li>
                <li class="leaf"><a href="#">Trámites a distancia</a></li>
                <li class="last leaf"><a href="#">Atención al ciudadano</a></li>
                </ul>
            </section>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="region region-footer2">
            <section id="block-menu-menu-footer-2" class="block block-menu clearfix">
                <h2 class="block-title h3 section-title h3 section-title">Acerca de la República Argentina</h2>
                <ul class="menu nav">
                <li class="first leaf"><a href="#">Leyes argentinas</a></li>
                <li class="leaf"><a href="#">Organismos</a></li>
                <li class="last leaf"><a href="#">Mapa del Estado</a></li>
                </ul>
            </section>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="region region-footer3">
            <section id="block-menu-menu-footer-3" class="block block-menu clearfix">
                <h2 class="block-title h3 section-title h3 section-title">Acerca de Argentina.gob.ar</h2>
                <ul class="menu nav">
                <li class="first leaf"><a href="#">Acerca de este sitio</a></li>
                <li class="leaf"><a href="#">Términos y condiciones</a></li>
                <li class="last leaf"><a href="#">Contacto</a></li>
                </ul>
            </section>
            </div>
        </div>
        </div>
    </div>


        <div class="container-fluid">
            <div class="row sub-footer">
                <div class="container">
                    <div style="display:flex; align-items:center; justify-content:space-between">
                        <a href="https://twitter.com/x/migrate?tok=7b2265223a222f4d756e6953465643222c2274223a313732393639383731397d67c3d556c3c3da4b63fc7c5e3e8713dd">
                            <img src="../src/pages/images/twitter.svg" alt="">
                        </a>
                        <a href="https://www.facebook.com/catamarcatucapital">
                            <img src="../src/pages/images/facebook.svg" alt="">
                        </a>

                        <a href="https://www.youtube.com/CatamarcaCapital">
                            <img src="../src/pages/images/youtube.svg" alt="">
                        </a>

                        <a href="https://www.instagram.com/catamarcacapital/">
                            <img src="../src/pages/images/instagram.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
