---
import Layout from './layout/Layout.astro';
import Info from '../pages/components/info/info';  // Default import
---

<Layout title='Tramites1'>
    <div>
        <Info client:only="react" />  {/* Using the client:only directive */}
    </div>
</Layout>