---
import Header from './components/home/header';
import { NoticiasContainer } from './components/noticias/noticias';
import Layout from './layout/Layout.astro';
import '../pages/index.css'

---

<Layout title='Noticias'>
    <div>
        <NoticiasContainer/>
    </div>

</Layout>