.header{
    width: 100vw;
    height: auto;

}

.header__navcontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.main{
    height: auto;
    width: 100%;
}

.media{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightblue;
}

.grid__container{
    display: grid !important;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 10px; /* Space between items */
    padding: 10px;
}

.panel-default{
    border: none !important;
}

.panel-body {
    padding: 0px !important;
}

.container:before{
    content: none;
}

.footer__container{
    height: auto !important;
    padding: 10px;
}

.main__container{
    height: 50vh;
    display: flex;
    align-items: center;
}


.navbar-brand>img {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.navbar{
    margin-bottom: 0px !important;
}