---
import Layout from "@layout/Layout.astro";
import RadioIndex from "@components/radio/radioIndex";
---

<Layout title="Busca las ultimas novedades">
  <div>
    <RadioIndex client:only="react" />
  </div>
</Layout>
