---
import Layout from "@layout/Layout.astro";
---

<Layout>
  <section class="jumbotron video-banner">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="/Nodo.mp4" type="video/mp4" />
      Tu navegador no soporta el video en HTML5.
    </video>

    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>
              Fundación de la Ciudad de San Fernando del Valle de Catamarca
            </h1>
            <p>
              La historia de nuestra Municipalidad es reflejo del crecimiento y
              evolución de nuestra comunidad. Desde sus orígenes, ha sido el
              punto de encuentro donde vecinos y autoridades se unen para
              trabajar por el bien común, guiados por el compromiso de construir
              un futuro mejor.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
  </section>
  <section class="container">
    <p>
      El Consejo de Indias expidió en 1679 la Cédula Real por la que se crea la
      provincia de Catamarca, en respuesta al pedido realizado por los vecinos
      de la Población del Valle y los informes que favorecían el traslado de la
      ciudad de Londres de Pomán al Valle de Catamarca. Pero como dicho valle no
      pertenecía a la jurisdicción de Londres, sino a San Miguel de Tucumán, la
      petición implicaba la creación de una nueva provincia.
    </p>

    <p>
      Esta cédula real tardó dos años en llegar a Tucumán y su gobernador, Don
      Fernando de Mendoza Mate de Luna, demoró otros dos para dar cumplimiento a
      la misma.
    </p>

    <p>
      Mate de Luna llegó al Valle de Catamarca el <strong
        >30 de mayo de 1683</strong
      >, junto a Tomás de Salas, su secretario y escribano de su Majestad.
      Dispuso el traslado del Estandarte Real y los Libros Capitulares, desde
      Londres de Pomán.
    </p>

    <p>
      El <strong>16 de junio</strong> reunió a 22 de los principales vecinos de la
      Población del Valle (Las Chacras), para pedirles opinión con respecto al sitio
      más conveniente para la ubicación de la nueva ciudad. Todos estuvieron de acuerdo
      en que se debía establecer una misma Población del Valle, pero no coincidían
      en el lugar preciso.
    </p>

    <p>
      Mendoza Mate de Luna no se decidió por los lugares elegidos por los
      vallistas y seleccionó un lugar en la otra banda del río (actual asiento
      de ciudad), por considerarlo un «paraje capaz, hermoso y seguro de toda
      inundación». Le dio el nombre de <strong
        >Ciudad de San Fernando del Valle de Catamarca</strong
      >. El <strong>22 de junio</strong> eligió a los cabildantes de la nueva ciudad.
    </p>

    <p>
      Eligió el solar el <strong>5 de julio de 1683</strong>. Mate de Luna,
      acompañado por el maestro Don Nicolás de Herrera, por Fray Jacinto de
      Valladares, todos los cabildantes y numerosos vecinos, plantó el <em
        >Palo de Justicia</em
      >, símbolo de la jurisdicción de la ciudad.
    </p>

    <p>
      El gobernador dispuso que la ciudad tuviese nueve cuadras de ancho y nueve
      de largo, con dos cuadras para la ronda de la ciudad y cuatro leguas para
      los ejidos. Dispuso también una Sala de Cabildos, archivo, cárcel y
      calabozo. Se preocupó también para que los indios de Londres, al ser
      trasladada la ciudad, no quedaran abandonados, proporcionándoles un lugar
      y dictando algunas ordenanzas para el buen tratamiento de los mismos.
    </p>

    <p>
      Pero los vecinos de Las Chacras no se trasladaron a los solares de la
      nueva ciudad, y hasta muchos años después no se realizó la población
      efectiva de la ciudad.
    </p>
  </section>
    <div class="container">
      <div class="botonflujo">
        <a href="/" class="btn btn-primary">
          Volver a Pagina de Inicio
        </a>
        <a href="/valores" class="btn btn-success">
          Ver Valores
        </a>
        <a href="/simbologia" class="btn btn-success">
          Ver Simbología
        </a>
      </div>
    </div>


</Layout>
