---
import PerfilPage from './components/perfiles/gabineteymodernizacion/perfil';
import Layout from './layout/Layout.astro';
import secretariasData from './data/secretarias.json';

export async function getStaticPaths() {
  return secretariasData.secretarias.map((secretaria) => ({
    params: { id: secretaria.id.toString() },
  }));
}

const { id } = Astro.params;
const secretaria = secretariasData.secretarias.find((sec) => sec.id === Number(id));

---

<Layout title={secretaria.nombre}>
  <div>
    <PerfilPage client:only="react" perfiles={secretaria.perfiles} />
  </div>
</Layout>
