---
import Layout from "@layout/Layout.astro";

---

<Layout>
        <section class="jumbotron video-banner">
            <video autoplay muted loop playsinline class="bg-video">
              <source src="/Nodo.mp4" type="video/mp4" />
              Tu navegador no soporta el video en HTML5.
            </video>
        
            <div class="jumbotron_body">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>Guía de Compra Municipal</h1>
                    <p>
                      Mejora los sistemas y procesos internos del Estado, capacita
                      permanentemente a sus empleados e incorpora Nuevas Tecnologías a
                      la administración pública para alcanzar una gestión eficiente,
                      inclusiva y transparente que brinde más y mejores servicios a los
                      ciudadanos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="overlay"></div>
        </section>
        <section class="container">
            <h1>Escudo de la Municipalidad de San Fernando del Valle de Catamarca</h1>
    
            <p>El escudo de la Municipalidad de San Fernando del Valle de Catamarca fue adoptado como símbolo a través del <strong>Artículo 5 del Capítulo 1 de la Sección Primera</strong> de la <em>Carta Orgánica Municipal</em>, promulgada en <strong>1993</strong>.</p>
    
            <p>Este escudo es el creado originalmente por <strong>Fernando de Mendoza Mate de Luna</strong> al fundar la ciudad en <strong>1683</strong>, y cuyo dibujo se encuentra en el <em>Primer Libro Capitular de Catamarca</em>.</p>
    
            <p>El significado del antiguo escudo de Catamarca, según lo explica <strong>Adán Quiroga</strong> en su obra <em>«Calchaquí»</em> (1897), es el siguiente:</p>
    
            <blockquote>
                «Dos letras, una <strong>S</strong> y una <strong>F</strong> unidas; a la izquierda de estas letras una <strong>espada</strong> y una <strong>media luna</strong> a la derecha indica simbólicamente el nombre de la ciudad, <strong>San Fernando</strong>, representando el de su fundador la espada y la luna, <strong>Mate de Luna</strong>. La <strong>corona real de España</strong> remata la parte superior del Escudo y en la parte inferior, <strong>dos altos cerros</strong>, que dejan un valle en medio, y otro que corre a la izquierda. En los primeros véese una <strong>planta de algodón</strong> y en el otro una <strong>viña</strong>, cubierta de hojas, con un racimo de uva. Ambos valles con sus plantas respectivas, representan los <strong>valles Oeste y Este de Catamarca</strong>, siendo el primero el de la viña y el segundo del algodón, que efectivamente eran sus preciadas producciones.»
            </blockquote>
    
            <p>Con ligeras variantes en el ornamento, este escudo continúa siendo el escudo oficial de la ciudad de <strong>San Fernando del Valle de Catamarca</strong>.</p>
        </section>
</Layout>