---
import Layout from "@layout/Layout.astro";
---

<Layout>
  <section class="jumbotron video-banner">
    <video autoplay muted loop playsinline class="bg-video">
      <source src="/Nodo.mp4" type="video/mp4" />
      Tu navegador no soporta el video en HTML5.
    </video>

    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>Valores del Gobierno Municipal</h1>
            <p>
              En nuestra Municipalidad, creemos que el servicio público debe
              estar guiado por principios sólidos que reflejen el compromiso con
              la comunidad. Nuestros valores fundamentales orientan cada
              decisión, proyecto y acción, con el objetivo de construir un
              municipio más justo, transparente y participativo.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>
  </section>
  <div class="container">
    <section>
      <h2>Dignidad</h2>
      <p>
        Queremos brindarle a todos los vecinos las herramientas para que
        construyan su perfil como ciudadano digno que es protagonista de las
        transformaciones que llevamos adelante. Concebimos al vecino como un
        ciudadano con derechos y responsabilidades en el cuidado de los bienes
        públicos de la ciudad, y no como un sujeto pasivo depositario de
        políticas. Un vecino – ciudadano activo, que se apropia de las obras y
        de las políticas de gestión.
      </p>
    </section>

    <section>
      <h2>Equidad</h2>
      <p>
        Para que todos nuestros vecinos accedan a los servicios de nuestro
        Gobierno Municipal, y que de este modo puedan ejercer una ciudadanía
        plena. Para ello es necesario reivindicar en forma permanente y en todo
        el ejercicio de gobierno, la garantía de los derechos. Privilegiando
        aquellos sectores que se encuentran más desprotegidos y vulnerados.
      </p>
    </section>

    <section>
      <h2>Honestidad</h2>
      <p>
        Nuestra conducta y nuestras acciones están tuteladas por una
        administración transparente en todos nuestros actos y de esta forma,
        intervenimos con ética y lealtad hacia nuestra ciudad, haciendo buen uso
        de los recursos públicos y recuperando la confianza vecinal en el
        Gobierno Municipal.
      </p>
    </section>

    <section>
      <h2>Transparencia</h2>
      <p>
        Reconocemos el valor de ser Transparentes en nuestra gestión. Por eso
        promovemos la rendición de cuentas y proporcionamos información de los
        gastos públicos y actos de la Administración ante la ciudadanía a través
        de los diferentes medios de comunicación masiva y los medios de
        comunicación externa del municipio. De este modo, los ciudadanos pueden
        realizar un control de la acción de gobierno, así como crear valor
        económico a partir de los datos públicos ofrecidos libremente por la
        Administración. Sabemos que la sociedad reclama su derecho de acceso a
        la información referente a la gestión municipal, y la ponemos a
        disposición.
      </p>
    </section>

    <section>
      <h2>Comunicación</h2>
      <p>
        Queremos y proponemos un nuevo modo de estar en contacto con nuestros
        vecinos por lo que presentamos la comunicación permanente y transparente
        entre la Administración y los ciudadanos. La nuestra es una comunicación
        bidireccional, a través de la cual intentamos la participación efectiva
        de los vecinos en los procesos de decisión, colaboración y control de la
        Administración.
      </p>
    </section>

    <section>
      <h2>Comunicación Pública</h2>
      <p>
        Tenemos la misión de informar con claridad y veracidad sobre la gestión
        de nuestro gobierno. Todo esto, para rendir cuentas a nuestros vecinos
        sobre las acciones de la administración municipal, sobre los impactos
        conseguidos, sobre nuestros aciertos, pero también, para dar a conocer
        las dificultades y restricciones que padecemos, haciendo un seguimiento
        de todas las inquietudes de la comunidad.
      </p>
    </section>

    <section>
      <h2>Solidaridad</h2>
      <p>
        Debemos crear conciencia y conocimiento colectivo, sensibilizar a todos
        nuestros vecinos del valor de contar con un tejido social fortalecido a
        través de relaciones mutuas de asistencia y apoyo frente a las
        adversidades y problemas, de modo tal que se sientan protegidos y
        amparados tanto por el entorno social que las rodea, como por un
        gobierno municipal que actúa como garante de sus derechos.
      </p>
    </section>

    <section>
      <h2>Participación Ciudadana</h2>
      <p>
        Promovemos el diálogo de saberes y la inclusión de todos los actores
        sociales en las fases de la planeación y gestión pública: todos somos
        ciudad. El nuestro es un municipio plural.
      </p>
    </section>

    <section>
      <h2>Tolerancia</h2>
      <p>
        Promovemos la consideración y apertura con aquellos sectores, grupos o
        personas que desacuerden de nuestras actuaciones públicas, accediendo al
        debate de ideas en escenarios públicos, donde prevalezca la buena
        comunicación, el bien común, la tolerancia y el respeto. Lo hacemos con
        la participación de los vecinos en nuestros canales abiertos de redes
        sociales, audiencias públicas, y otras instancias de debate.
      </p>
    </section>

    <section>
      <h2>Identidad</h2>
      <p>
        Proponemos que nuestra gestión sea el instrumento con el cual el vecino
        pueda rescatar, salvaguardar y defender la identidad ciudadana y el
        sentido de pertenencia de los vecinos – ciudadanos de SFVC con su
        territorio y su entorno social.
      </p>
    </section>

    <section>
      <h2>Calidad</h2>
      <p>
        Entendemos que llevar a cabo una administración pública, debe hacerse
        con estándares de calidad óptimos y de grado elevado, donde todos los
        funcionarios y funcionarias gestionen bajo criterios de la
        autoevaluación y de mejoramiento continuo la honestidad, la
        transparencia y la comunicación, a fin de dar respuesta eficaz y
        eficiente a las demandas de la ciudadanía, contribuyendo a mejorar su
        calidad de vida.
      </p>
    </section>
  </div>
</Layout>
