---
import Layout from "../layout/Layout.astro";
import CategoriasTramites from "../components/categoriasTramites/CategoriasTramites"
const { id } = Astro.params;


---

<Layout title="Trámites">
    <div>
      <CategoriasTramites id={id}  client:only="react"/>
    </div>
  </Layout> 