---
import { EstructuraApex } from "../../components/estructura/estructuraApex";
// import { EstructuraOrganica } from "../../components/estructura/estructuraOrganica";
import Layout from "./../../layout/Layout.astro";
const { name, id } = Astro.params;
---

<Layout title="Estructura organica">
  <div>
    <EstructuraApex client:only="react" name={name} id={id} />
  </div>
</Layout>
