---
import Info from "@components/info/info.astro";
import Layout from "@layout/Layout.astro";
const { id } = Astro.params;
---

<Layout title="Tramites1">
  <div>
    <Info
      id={id}
      url="items/infraestructura_datos_espaciales/"
      client:only="react"
    />
    {/* Using the client:only directive */}
  </div>
</Layout>
