---
import Layout from "@layout/Layout.astro";
import GridCategorias from "@components/grid/gridCategorias";
const { id } = Astro.params;
---

<Layout title="Trámites">
  <div>
    <GridCategorias
      id={id}
      info="infoTramites"
      client:only="react"
      url={"items/tramites?filter[categorias_tramites][_eq]="}
    />
  </div>
</Layout>
